DirectorySlash Off

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /test/hil-v2/embed/

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^$ /test/hil-v2/index.php/embed [L,QSA]
    RewriteRule ^(.*)$ /test/hil-v2/index.php/embed/$1 [L,QSA]
</IfModule>
