<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /test/hil-v2/

    RewriteRule ^public/ - [L]

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteCond %{REQUEST_URI} !^/test/hil-v2/index\.php [NC]
    RewriteRule ^$ index.php [L,QSA]
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>
